/*css reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    /*dimensions*/
    --header-heigt: 20vh;
    --page-height: 80vh;

    /*images*/
    --mars-globe: url("./img/mars_globe.jpg");

    /*color*/
   --mars-white: #ffece0;
   --mars-light: #f99d64; 
   --mars-medium: #8e270f;
   --mars-dark: #461206;

   /*transparent*/
   --mars-transparent: #f99d64ee; 

   /*gradient*/
   --mars-shade: linear-gradient(-45deg, var(--mars-light), var(--mars-medium));
}


/*tags*/
/*mars theme*/
img, section, header, article {
    box-shadow:  0 0 1em black;
    border-radius: 0 0 40px 0;
}
/*readable background*/
h1, h2, h3, p, li {
    background: var(--mars-light);
    padding: 0.2em 1em;
    border-radius: 0.5em;
}

/*Header font*/
h1, h2, h3  {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    align-items: end;
    justify-content: space-around;
    padding: 1em 3em;
    position: sticky;
    top: 0;
    max-height: var(--header-height);
    background-image: var(--mars-globe); 
    background-size: cover;
    background-position: center;
}

body {
    color: var(--mars-dark);
    background: var(--mars-shade);
}

/*classes*/


.nav-btn {
    padding: 0.5em 1em;
    margin: 0 1em;
    background: var(--mars-shade);
    box-shadow:  0 0 1em black;
    border-radius: 0 0 40px 0;
}

.page {
    display: flex;
    background-image: var(--mars-globe); 
    justify-content: space-around;
    scroll-margin-top: var(--header-heigt);/*supposed to fix link nav missalignment*/
    min-height: var(--page-height);    
}

.mars-card {
    margin: 2em;
    padding: 1em 2em;
}

.img-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
}

.img-card {
    width: 20em;   
}

img {
    width: 100%;
}

/*id's*/
#images {
    flex-direction: column;
}
